        /* css project 4 */
        /* tran quang hieu */
        
        li a {
          color: #fff !important;
        }
        
        @media (max-width: 767px) {
          li a {
            color: #fff !important;
          }
          
          li {
            padding-right: 12px;
            padding-left: 12px;
          }
          .hd {
            visibility: visible !important;
            position: relative !important;
          }
          .navbar-brand {
            margin: auto !important;
          }
          .le{
            width: 100%;
            padding-right: 50px;
            margin-bottom: 20px;
          }
          }
          
        @media (max-width: 991px) {
          li a {
            color: #fff !important;
          }
          .m {
            display: none;
          }
          .bgcl {
            background-color: #fff !important;
          }
          .footer{
            background-color: #fff !important;
          }
          .hd {
          visibility: visible !important;
          position: relative !important;
          }
          }
        
       .m {
         position: relative;
         width: 100%;
         height: 300px;
         background-image: url(1.png);
         background-size: 100% 100%;
         background-color: rgba(0,0,0,1);
         }
         
        .m2 {
          position: absolute;
          width: 100%;
          height: 300px;
          background-color: rgba(0,0,0,0.3);
            
        }
       
       .text {
         position: absolute;
         color: white ;
         font-size: 20px;
         font-weight: bold;
         left: 50px;
         top: 100px;
         align-items: center;
         
        }
		
       .divb {
         margin: 0 auto !important; 
        }
        
       .pl {
         padding-left: 30px;
         padding-bottom: 35px;
         padding-top: 25px;
        }
          
       .fimb {
         padding-bottom: 50px; 
        }
       
       p {
        color: grey;
       }
       
       .text p {
        color: #fff;
       }
       
      .hd {
        visibility: hidden;
        position:absolute;
       }
        
      .ft {
        padding-top: 30px;
        padding-bottom: 50px;
      }
      
      .nav-item {
        padding-left: 15px;
         padding-right: 15px;
      }
       
      .le{
         float: left;
         margin-right: 50px;
         background-size: 100% 100%;
         margin-top: 10px;
        }
      
      .trai {
        margin-right:  50px;
         text-align: justify;
      }
	  
      .kanh{
        text-align: center;
      }
    
	  .f1 {
		background: #666;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
		box-sizing: border-box;
		width: 100%;
		text-align: left;
		font: bold 16px sans-serif;
        color: black;
		padding: 55px 50px;
		}

		.dl-t{
		text-align: justify;
		padding-left: 50px;
		padding-right: 50px;
		}
	
		.dlz {
		background-size: 100% 100%;
        margin-left: 15px;
		padding-right: 20px;
		
		}
	
		* {
		font-family: 'Roboto', sans-serif;
		}
		
		li a:hover {
			color: blue !important;
		}


      
      